<div class="center">
	<h2 class="title">Système de Gestion des Visiteurs</h2>
</div>
<%-- 
<g:set var="lang" value="${session.'org.springframework.web.servlet.i18n.SessionLocaleResolver.LOCALE' ?: org.springframework.web.servlet.support.RequestContextUtils.getLocale(request).toString().substring(0,2)}"/>
<div class="panel">
	<div class="panel-heading">
		<div class="row">                
			<div class="col-md-4">
				<div class="pull-left">
					<g:if test="${lang.toString() == 'fr'}">
						<g:img uri="/images/icons/bank-logo-fr.png"/>
					</g:if>
					<g:else>
						<g:img uri="/images/icons/bank-logo-en.png"/>	
					</g:else>
				</div>
			</div>
		
			<div class="col-md-4">
				<h2 class="title center"><g:message code="app.name"/></h2>
			</div>
			
			<div class="col-md-4">
			</div>
		</div>	
	</div>
</div>
--%>