/* FONT STACK */
#Header .inner {
	padding: 0px 0;
	background-color: rgb(29, 138, 24);
}

#Header .title {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #3A3232;
}



#Header .lead {
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

#listcomment .well {
    border-radius: 18px !important;
    -moz-border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    background: rgb(185, 185, 185) !important;
    background: rgba(185, 185, 185, 0.2) !important;
}

/* SECTION DE LA HOME PAGE*/
#info {
	padding-top: inherit;
}
.well {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: rgb(245, 245, 245);
    background: rgba(245, 245, 245, 0.6);
}

.well-light {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
}


.formSearch {
	margin:2px 5px 0px;
	
}

.footer{
	padding: 1px 0px;
}


.radiocheckbox {
	width: 30%;
}


.sr-only {
	color:black;
}
.txt-small{
	width: 90px;
}

.marginStart{
	margin-top: 10px;
}

.datepicker {z-index: 1151 !important;}

/* COSTUM */
.jumbotron{
	padding-top: 28px;
  	padding-bottom: 28px;
}
.form-actions{
    padding-top: 10px;
}

.green{
	color:green;
}

.red{
	color:red;
}

.blue{
	color:#1F3D7A;
}

.black{
	color:black;
}

.purple{
	color:#3D004C;
}
	
.grey80{
	color:#607D8B;
}

.greenwater{
	color:#009688;
}

.mustard{
	color:#E68A00;
}

.brown{
	color:#795548;
}

.bordeau{
	color:#9E3333;
}

.danger{
	color:#b94a48;
}

.label-inverse{
	background-color:black;
}

.label-danger{
	background-color:#b94a48;
}

.label-primary{
	background-color:#3a87ad;
}

.label-success{
	background-color:#468847;
}

.label-warning{
	background-color:#f89406;
}

.badge-inverse{
	background-color:black;
}

.badge-danger{
	background-color:#b94a48;
}

.badge-primary{
	background-color:#3a87ad;
}

.badge-success{
	background-color:#468847;
}

.badge-warning{
	background-color:#f89406;
}

.txt-danger {
	color: #d9534f;
}

.txt-success {
	color: #50D050;
}

.txt-primary {
	color: #428bca;
}

.txt-gris {
	color: #808080;
}

.txt-grey {
	color: #798296;
}

.txt-black{
	color:black;
}

.txt-green{
	color:green;
}

.txt-white{
	color:white;
}

.txt-verdana{
	 face:"Verdana";
}

.dual-list .list-group {
    margin-top: 8px;
}
